In [8]:
from urllib.request import urlopen

url = "http://www.tcdb.org/public/tcdb"
response = urlopen(url)
fasta = response.read().decode("utf-8", "ignore")

In [9]:
lines = fasta.split('>')

In [12]:
lines = lines[1:]

In [23]:
sequences = []
classes = []

In [24]:
i = 0
for line in lines:
    line_splits = line.split('\n')
    first_line = line_splits[0]
    second_line = ''.join(line_splits[1:])
    
    split_first_line = first_line.split(' ')[0].split('|')
    
    if len(split_first_line) == 4:
        classes.append(split_first_line[3])
        sequences.append(second_line)

In [25]:
len(classes)

20975

In [26]:
len(sequences)

20975

In [27]:
import pandas as pd

In [28]:
sequence_df = pd.DataFrame()

In [29]:
len(lines)

21010

In [30]:
sequence_df['sequence'] = sequences

In [31]:
sequence_df['class'] = classes

In [32]:
sequence_df

                                                sequence        class
0      MDSIRPATFQIPAAVRELGWAALLLFFVLLSVHEWFSPPGWFGLLA...    4.F.1.1.5
1      MSPSRTARLYFLLVLDLLFFVLEISIGYAVGSLALVADSFHMLNDV...    2.A.4.2.8
2      MHFGLNDRPEQVASASHSIFSSDDNKLRLSASLPDTAVTDLRRLGR...    2.A.4.5.2
3      MFPLSALPRCVALRSKHGNSYLRSVHDKSQGGNFVELSADNDGGVM...    1.C.4.5.2
4         FGFKDIIRAIRRIAVPVVSTLFPPAAPLAHAIGEGVDYLLGDEAQA   1.A.59.1.2
...                                                  ...          ...
20970  MRFGVVVLAIILLTGCSAMSAISDLLPSKDGIEATAQAGESNQKTG...    1.M.2.1.3
20971  MISIGLPNILKACLGYIVIVLMDAIWLPFATYMEFYPKLDDTHILF...  9.B.309.1.5
20972  MKQHCSSILNTLPPHRLMALDVMRGLTITAMILVNNPGSWSAMYWP...  9.B.169.4.5
20973  MILLTQSRFFSQKARCYITDNKRLFLPLLILIALVVPATRGFTLQA...  2.A.119.3.4
20974  MRYVRSLLGVGALLVGAGGAAAQPGAFPGAGERAPGGAPSAPVSAP...   1.B.57.2.1

[20975 rows x 2 columns]